body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li{
  list-style-type: none;
  margin: 10px;
  background-color: dodgerblue;
  padding: 10px;
  width: 150px;
  border-radius: 3%;
}

li a{
  color:whitesmoke;
  text-decoration: none;
  text-align: center;
}

.friend {
  width:70%;
  margin: 20px 0px 20px 180px;
  border: 1px solid black;
}

button a{
  text-decoration: none;
}

input{
  margin: 15px;
}